* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

    body h2 {
        margin-bottom: 65px;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        font-size: 18px;
        font-weight: 600;
        color: hsl(186, 14%, 43%);
    }

container {
    height: 375px;
    width: 700px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.left-side {
    width: 40%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
}

    .left-side h5 {
        color: hsl(184, 14%, 56%);
        font-weight: 400;
        margin-bottom: 8px;
    }

.bill {
    width: 98%;
}

    #bill {
        height: 35px;
        width: 95%;
        border-radius: 5px;
        border-color: transparent;
        background-color: hsl(189, 41%, 97%);
        text-align: end;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

img {
    position: absolute;
    padding-top: 11px;
    padding-left: 12px;
}

.percentage {
    height: 40%;
    width: 100%;
}

    .percentage ul {
        height: 100px;
        width: 103%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .percentage li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 85px;
        list-style: none;
        border-radius: 4px;
    }

    .percentage button:hover {
        background-color: hsl(185, 41%, 84%);
        color:hsl(183, 100%, 15%);
        cursor: pointer;
    }

    #custom {
        height: 100%;
        width: 100%;
        text-align: end;
        justify-content: center;
        background-color: hsl(189, 41%, 97%); 
        border-color: 1px solid hsl(189, 41%, 97%);
        border-style: none;
        border-radius: 4px;
        color: hsl(183, 100%, 15%); 
        font-size: 17px; 
        font-weight: 600;
    }

    .percentage button {
        height: 100%;
        width: 100%;
        background-color: hsl(183, 100%, 15%);
        border-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.1em;
        color:hsl(189, 41%, 97%);
    }

.number-of-people {
    width: 98%;
}

    #number-of-people {
        height: 35px;
        width: 95%;
        border-radius: 5px;
        border-color: transparent;
        background-color: hsl(189, 41%, 97%);
        text-align: end;
    }

.right-side {
    width: 39%;
    height: 74%;
    padding: 25px;
    margin-right: -18px;
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
}

.total {
    height: 60%;
    width: 95%;
    margin-left: 7px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
}
    

.tip-amount {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;
}
    
    .total h5 {
        font-weight: 400;
        font-size: 12.5px;
        color:hsl(189, 41%, 97%);
    }

    .total h1 {
        position: relative;
        bottom: 10px;
        font-size: 38px;
        color:hsl(172, 67%, 45%);
    }

    span {
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.2px;
        color:hsl(184, 14%, 56%);
    }

#reset {
    height: 40px;
    width: 95%;
    margin-left: 7px;
    background-color:hsl(184, 14%, 56%);
    border-color: transparent;
    border-radius: 4px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color:hsl(186, 14%, 43%);
    opacity: 50%;
}

    #reset:hover {
        background-color: hsl(189, 41%, 97%);
        opacity: 90%;
        cursor: pointer;
    }

input:placeholder-shown {
    padding-right: 12px;
    color:hsl(186, 14%, 43%);
}
    
